header{
    background: rgba(24, 24, 27, 0.5)
}

body{
    background: url(https://images.livemint.com/img/2021/09/21/1600x900/rain-Weather--1_1632245851316_1632245928797.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}