header{
    background: rgba(24, 24, 27, 0.5)
}

body{
    background: url(https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2021-03/210323-national-weather-service-snow-mb-1457-2cb23a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

span.favorable{
    background-color: chartreuse;
}
span.moderate{
    background-color: rgb(98, 255, 255);
}
span.severe{
    background-color: rgb(255, 129, 188);
}